<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<button>Login With Twitter!</button>
<nav>
  <a routerLink="/eventSearch">Event Search</a>
  <a routerLink="/resultEvent">Event Search Result</a>
  <a routerLink="/profile">View Personal Profile</a>
  <a routerLink="/pastEvents">View Past Events</a>
  <a routerLink="/savedEvents">View Saved Events</a>
</nav>
<br><br><br>
<router-outlet></router-outlet>



