<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    
<!--===============================================================================================-->
</head>
<body>

	<div class="container">

        <div class="row header">
            <h1>Search &nbsp;</h1>
              <h3>Find events that fit your budget</h3>
        </div>
        

		<div class="row body">
                <form action="#">
                <ul>
                <li>
                
                    <p class="left">
                        <label for="pricePoint">What's your budget?</label>
                        <input [(ngModel)]="isPaid" type="checkbox" name="pricePoint" value=true/>$$$
                        <input [(ngModel)]="isFree" type="checkbox" name="pricePoint" value=true/>$<br>
                    </p>

					<p class="pull-right">
                        <label for="city">Where are you looking?</label>
                        <input [(ngModel)]="location" class="input100" type="text" name="city" placeholder="City">     
                    </p>
                    </li>

				<li>
					<p>
                        <label for="kindEvent">What kind of event? </label>
                        <input [(ngModel)]="kindEvent" class="input100" type="text" name="term" placeholder="Keyword">
                    </p>
                    </li>
                    
                   
                
                
                    <li><div class="divider"></div></li>
                        <li>
                            <label for="When">When</label>
                            <input [(ngModel)]="isToday" type="checkbox" name="when" value=true/>today
                            <input [(ngModel)]="isTommorow" type="checkbox" name="when" value=true/>tomorrow

                            <input [(ngModel)]="isWeekend" type="checkbox" name="when" value=true/>this weekend
    
                            <input [(ngModel)]="isThisWeek" type="checkbox" name="when" value=true/>this week
    
                            <input [(ngModel)]="isNextWeek" type="checkbox" name="when" value=true/>next week<br>
                        </li>
                    

				<li>
					<button (click)="getEvents()" class="btn btn-submit" type="submit" value="Submit">
						<span>
							Submit
						</span>
					</button>
                    </li></ul>
			</form>

		</div>
  </div>



 
  
  <br><br><br>
<div *ngIf="eventArray != []">
    <!-- following angular.io tutorial on displaying lists: https://angular.io/tutorial/toh-pt2 -->
    <div class="row justify-content-center" *ngFor="let event of eventArray">
      <div class="col-md-8">
          <div class="card">
              <div class="card-body">
                  <strong>Event Title: </strong> <p>{{event.title}}</p>
                  <strong>Start Time: </strong> <p>{{getWeekday(event.startTime)}} {{getMonth(event.startTime)}} {{getDateNumber(event.startTime)}}, {{getYear(event.startTime)}}: {{getHours(event.startTime)}}:{{getMinutes(event.startTime)}} {{getDayTime(event.startTime)}}</p>
                  <strong>End Time: </strong> <p>{{getWeekday(event.endTime)}} {{getMonth(event.endTime)}} {{getDateNumber(event.endTime)}}, {{getYear(event.endTime)}}: {{getHours(event.endTime)}}:{{getMinutes(event.endTime)}} {{getDayTime(event.endTime)}}</p>
                  <strong>Venue: </strong> <p>{{event.venue}}</p>
                  <br>
                  <button type="button" class="btn btn-danger" (click)="getEventDetails(event)">Get Details</button>
                  <button type="button" class="btn btn-info" (click)="saveEvent(event)">Bookmark</button>
              </div>
          </div>
          <br><br>
      </div>
    </div>
</div>

<!--===============================================================================================-->
	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>

<!--===============================================================================================-->
	<script src="/js/main.js"></script>




</body>
</html>

