<!--Tab set uses ngbootstrap - https://ng-bootstrap.github.io/#/components/tabs/examples -->

<!--
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
-->


<header id="header">
				
				<a href="index.html" class="logo">Event Finder</a>
				<nav class="right">
					<a href="#" class="button alt">Log in</a>
				</nav>
			</header>


<body>
<div class = "wrap">

  <ul class= "navbar">

    <li><a href= '#'>Home</a></li>
      
    <li><a href="http://localhost:3000/auth/google">Event Search </a></li>

    <li><a href= '#'>Attended Events</a></li>


    <li><a href= '#'>Bookmarked Events</a></li>
      
    <li><a href ="#"> Profile</a></li>

<!--    <li><a (click)="navWeather()" href= '#'>Weather Us</a></li>-->

  </ul>

</div>

<router-outlet></router-outlet>


</body>




