extends layout

block content
    h1 Uber Estimates
    br
    h5 Using:start_latitude: 37.7752315; start_longitude: -122.418075; end_latitude: 37.7752415; end_longitude: -122.518075

    br
    br
    ul
        li Estimates = #{data.prices[0].estimate}