<!DOCTYPE html>

<head>

  <title>Landing Page</title>

  <!--<link rel="stylesheet" type="text/css" href="style.css">-->

</head>

<body>



<router-outlet></router-outlet>



<section class = "intro">

  <div class = "inner">

    <div class = "content">

      <h1 class ="tit"> Budget Event Finder</h1>

      <a class="btn" href="#">Login</a>

    </div>

  </div>

</section>



<p>Welcome to our page! Plan your Outing with us anytime, anywhere! Simply Sign in,

  setup your profile in no time, add your budget for the night and we will tell you

  everything there is to do wherever you are with all the details you can possibly

  think of. Whether you have alot of MONEYS or not we have great ideas for what you

  can do on your outing.

</p>



<p class="e">

  Enjoy!

</p>






</body>
